/* Fonts
base font
font-family: 'Abel', sans-serif;

headerfont

*/

body {
    background-color: rgb(16, 17, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body p{
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#pageTrack {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bubbleContent {
    margin: 10px;
}

.material-symbols-outlined {
    color: white;
    margin-left: 10px;
}

#pageHeaderBackground {
    height: 100%;
    width: 100%;
    background-color: rgb(59, 159, 221);
    border-radius: 15px;
}

#pageHeader {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageHeader img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    object-fit: cover;

    border: 5px solid rgb(255, 255, 255);
}

#toolBar {
    background-color: rgb(31, 33, 35);
    height: 50px;
    width: 100%;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#toolBar p {
    margin: 10px;
    color: white;
}

#toolBar p:hover {
    transition: 0.4s;
    scale: 1.1;
    color:rgb(59, 159, 221);
}

/* TECH SECTION */

#sectionTech {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    justify-content: center;
}

#techOne {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#techOne > * {
    margin: 10px;
}

#techOne span{
    color: black;
    font-size: 50px;
}

#techOne p {
    font-size: 40px;
}

#techTwo {
    background-color: rgb(31, 33, 35);
    color: white;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 3;
}

/* SECTION TWO */

#sectionTwo {
    display: flex;
    height: 200px;
    width: 100%;
}

#panelOne {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 33, 35);
    border-radius: 15px;
    text-align: center;
    flex-grow: 3;
    color: white;
    margin-right: 20px;
}

#panelTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    flex-grow: 1;
}


